/* importações das folhas de estilo; */
@import './Styles/Titles.css';
@import './Styles/Form.css';
@import './Styles/Button.css';
@import './Styles/Modal.css';
@import './Styles/Card.css';

/* Retira as formatações iniciais dos componentes. */
* {
    margin: 0px;
    padding: 0px;
}

fieldset {
    border: none;
}

/* Formatações iniciais do Body */
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

/*Formatações do container principal*/
#containerMain {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#containerMain>header {
    display: flex;
    align-items: center;
    flex-grow: 0.025;
    border-bottom: var(--borderColor) solid var(--borderSize);
    margin-bottom: var(--spaceDefault);
}

#containerMain>section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: var(--spaceDefault);
    overflow-y: auto;
    flex-grow: 0.95;
}

#containerMain>footer {
    display: flex;
    align-items: center;
    flex-grow: 0.025;
    border-top: var(--borderColor) solid var(--borderSize);
    margin-top: var(--spaceDefault);
}

#loginContainer {
    display: flex;
    border: var(--borderColor) solid;
    border-width: var(--borderSizeL);
    border-radius: var(--borderRadius);
    padding: var(--spaceDefault);
    min-height: 40%;
}

#loginContainer>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img.iconImg {
    width: var(--imageSize);
    height: var(--imageSize);
}