:root{
    /*Variáveis do Título principal.*/
    --MainTitleColor:#606060;
    /*Função clamp ajuda na responsividade clamp('valor minímo','valor preferido','valor máximo')*/
    --MainTitleSize:clamp(2vmin,6.2vmin,26px);

    /*Variáveis do Título Secundário.*/
    --SecondaryTitleColor:#505050;
    --SecondaryTitleSize:clamp(1.8vmin,5.8vmin,22px);

    /*Váriáveis de bordas.*/
    --borderSize:clamp(0.2vmin,0.5vmin,1px);
    --borderSizeL:clamp(0.2vmin,0.5vmin,2px);
    --borderColor:#ccc;
    --borderRadius:clamp(1vmin,2vmin,10px);

    /*Configurações de texto*/
    --textSize:clamp(1.8vmin,4vmin,16px);
    --textColor:#495057;

    /*Configurações do Label.*/
    --labelSize:clamp(1.8vmin,4.8vmin,20px);
    --labelColor:#757575;

    /*Outras formatações.*/
    --spaceDefault:clamp(1vmin, 2vmin, 10px);
}