:root{
    /*Variáveis do Título principal.*/
    --MainTitleColor:#606060;
    /*Função clamp ajuda na responsividade clamp('valor minímo','valor preferido','valor máximo')*/
    --MainTitleSize:clamp(2vmin,6.2vmin,26px);

    /*Variáveis do Título Secundário.*/
    --SecondaryTitleColor:#505050;
    --SecondaryTitleSize:clamp(1.8vmin,5.8vmin,22px);

    /*Váriáveis de bordas.*/
    --borderSize:clamp(0.2vmin,0.5vmin,1px);
    --borderSizeL:clamp(0.2vmin,0.5vmin,2px);
    --borderSizeXL:clamp(0.6vmin,1.5vmin,2px);
    --borderColor:#ccc;
    --borderRadius:clamp(1vmin,2vmin,10px);

    /*Configurações de texto*/
    --textSize:clamp(1.8vmin,4vmin,16px);
    --textColor:#495057;

    /*Configurações do Label.*/
    --labelSize:clamp(1.8vmin,4.8vmin,20px);
    --labelSizeP:clamp(1.2vmin,4.2vmin,14px);
    --labelColor:#757575;

    /*Outras formatações.*/
    --spaceDefaultPP:clamp(1px, 1vmin, 5px);
    --spaceDefaultP:clamp(1px, 1.5vmin, 7.5px);
    --spaceDefault:clamp(1px, 2vmin, 10px);
    --spaceDefaultL:clamp(1.5px, 3vmin, 15px);

    /*Cores*/
    --pegpeseOrangeColor: #E98D77;
    --pegpeseGreenColor: #004030;
    --dangerColor: #DC3545;
    --infoColor: #007BFF;
    --warningColor: #ff8b07;
    --successColor: #28A745;
    --primaryColor: #FFFF;
    --simplecardColor: #f2f2f2f2;

    /*Imagens*/
    --imageSizeP: clamp(1.33vmin,4.8vmin,21.33px);
    --imageSizeM: clamp(1.33vmin,5.8vmin,23.33px);
    --imageSize: clamp(2vmin,7.2vmin,32px);
}