:root{
    
    /*Variáveis do Título principal.*/
    --MainTitleColor:#606060;
    /*Função clamp ajuda na responsividade clamp('valor minímo','valor preferido','valor máximo')*/
    --MainTitleSize:clamp(2vmin,6.2vmin,26px);

    /*Variáveis do Título Secundário.*/
    --SecondaryTitleColor:#505050;
    --SecondaryTitleSize:clamp(1.8vmin,5.8vmin,22px);

    --bordeSize:clamp(0.2vmin,0.5vmin,1px);
    --borderColor:#ccc;
}