#containerHome {
    display: flex;
    height: 100%;
    width: 100%;
}


.gridLeftTop {
    display: flex;
    align-items: center;
    margin-left: var(--spaceDefault);
}

#navMenu {
    background-color: rgba(10, 149, 120);
    width: clamp(1vw, 30vw, 134px);
    padding: var(--spaceDefault);
    border: white var(--borderSize) solid;
}

#navMenu>div {
    display: flex;
    justify-content: flex-end;

}

.closeNavMenu {
    width: auto !important;
}

#navMenu>ul>li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: var(--textSize);
    color: white;
    border-radius: var(--borderRadius);
    margin: calc(var(--spaceDefault)*2) 0px;
    font-weight: bold;
    transition: margin-left .8s;
    margin-left: calc(var(--spaceDefault)*-4);
}

.closeListMenu {
    display: none;
}

.iconMenu {
    margin-right: var(--spaceDefault);
    height: var(--imageSize);
    width: var(--imageSize);
}

#navMenu>ul>li:hover {
    cursor: pointer;
    margin-left: var(--spaceDefault);
}

#containerHome>.gridRightHome {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--spaceDefault)*2);
    height: calc(100% - var(--spaceDefault)*2);
    overflow: hidden;
    padding: var(--spaceDefault);
}

#containerHome>.gridRightHome>section {
    position: relative;
    height: 10%;
    margin: 0 var(--spaceDefault);
}

#containerHome>.gridRightHome>div {
    display: flex;
    flex-direction: row;
    height: 90%;
    overflow-x: auto;
    overflow-y: hidden;
}
