.bgButton{
    padding: var(--spaceDefault);
    border: solid var(--borderColor);
    border-width: var(--borderSize);
    border-radius: clamp(0.2vmin,2vmin,8px);
    font-size: var(--textSize);
    color:var(--textColor);
    background: none;
}

.btn{
    background: none;
    border:none;
}

.btnSuccess{
    border-width: var(--borderSize);
    border-style: solid;
    border-radius: var(--borderRadius);
    font-size: var(--textSize);
    padding: var(--spaceDefaultP) var(--spaceDefault) ;
    /* font-weight: bold; */
    color:white;
    background-color: var(--successColor);
}
.btnSuccess:active{
    color: var(--successColor);
    border-color: var(--successColor);
    background-color: white;
}

.btnDanger{
    border-width: var(--borderSize);
    border-style: solid;
    border-radius: var(--borderRadius);
    font-size: var(--textSize);
    padding: var(--spaceDefaultP) var(--spaceDefault) ;
    /* font-weight: bold; */
    color:white;
    background-color: var(--dangerColor);
}
.btnDanger:active{
    color: var(--dangerColor);
    background-color: white;
    border-color: var(--dangerColor);
}
.btnFloatRight{
    float: right;
}

.menuButton{
    color: white;
    font-size: var(--MainTitleSize);
    padding: var(--spaceDefault);
    background: none;
    border: none;
    z-index: 10;
}

.btn-close {
    color: var(--primaryColor);
    background: transparent;
    font-weight: 600;
    padding: var(--spaceDefault);
    border-radius: var(--spaceDefault);
    font-size: var(--textSize);
    position: absolute;
    right: var(--spaceDefault);
    top: var(--spaceDefault);
    border: none; 
}

.btn-submenu {    
    background-color: #fff;
    padding: var(--spaceDefault);
    border: none;
    border-radius: var(--spaceDefault);
    font-weight: 600;
}

.btn-sublist {
    background-color: #000;
    color: #FFF;
}

button:active {
    border: 1px solid var(--borderColor);

}

button:hover{
    cursor: pointer;
}

.arrowsClose{
    rotate: 180deg;
}