.bgButton{
    padding: var(--spaceDefault);
    border: solid var(--borderColor);
    border-width: var(--borderSize);
    border-radius: clamp(0.2vmin,2vmin,8px);
    background: none;
    font-size: var(--textSize);
    color:var(--textColor);
}

.menuButton{
    color: white;
    font-size: var(--MainTitleSize);
    padding: var(--spaceDefault);
    background: none;
    border: none;
    z-index: 10;
}
.btn-close {
    color: var(--primaryColor);
    background: transparent;
    font-weight: 600;
    padding: var(--spaceDefault);
    border-radius: var(--spaceDefault);
    font-size: var(--textSize);
    position: absolute;
    right: var(--spaceDefault);
    top: var(--spaceDefault);
    border: none; 
    /*cursor: pointer;*/
}


button:active {
    border: 1px solid var(--borderColor);

}

button:hover{
    cursor: pointer;
}