.card {
    width: 278px;
    border-radius: var(--spaceDefault);
    background-color: #FFF;
    padding: var(--spaceDefault);
    position: relative;
    margin: 0 var(--spaceDefault);
    border: var(--borderSize) solid #0000004f;
    box-shadow:  calc(0.9 * var(--spaceDefault)) var(--spaceDefault) var(--spaceDefault) rgba(0, 0, 0, 0.35);
    align-self: flex-start;
}

.card:hover {
    transition: all ease-in-out .5s;
}

.card > ul {
    list-style: none;
}

.subdivcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subdivcard input[type="checkbox"] {
    border: none;
}

.subdivcard h4 {
    font-size: var(--textSize);
}

.btn-sublist {
    width: 100%;
    height: 85%;
    overflow: auto;
}

.div-textarea {
    font-size: var(--textSize);
}

.btn-toTask{
    font-size: var(--textSize);
}


/* input hamburger*/
  
  .fatherNav { 
    display: block;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
  }
  
  .dropdown { 
    display: flex;
    justify-content: space-between;
  }
  
  
  .fatherNav label {
    cursor: pointer;
    padding: var(--spaceDefault);
    width: var(--textSize);
    display: flex;
    flex-direction: column;
  }
  
  input[type=checkbox] + label {
    .icon-bar {
        display: block;
        width: 100%;
        height: 0.2vmin;
        background-color: #000;
        margin: var(--spaceDefault);
        margin: 14%;
        transition: all 0.2s;    
    }
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
  }
  
  input[type=checkbox]:checked + label {
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 208%;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% -74%;
    }

    .middle-bar {
      opacity: 0;
    }
  }

/*DIV OCULTA*/
.hiddenDiv {
  display: flex;
  width: clamp(20vmin, 64vmin, 1000px);
  height: clamp(20vmin, 60vmin, 600px);

  font-size: var(--textSize);

  background: #fff;
  margin: 13vh auto;

  padding: var(--spaceDefault);

  overflow: hidden;
}

.task {
  padding: 1vw 1vw 1vw 0.5vw;
  cursor: pointer;
  overflow-x: hidden;
  font-size: var(--textSize);
  display: flex;
  justify-content: space-around;
  gap: 0.5vw;
  transition: all ease-out .5s;
  border: var(--borderSize) solid #cccc;
  border-radius: var(--borderRadius);
  margin-bottom: 1vmin;
}

.task:hover {
  background-color: var(--simplecardColor);
  transition: all .6s;
}

#taskDiv {
  overflow-y: auto;
  max-height: 70vh;
}

.task-priority {
  background-color: transparent;
  color: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* font-size: clamp(1vmin, 2vmin, 12px); */
}

.task-priority > img{
  /* width: calc(2*(var(--spaceDefault))); */
  width: var(--imageSizeP);
}

.task-date {
  margin-top: 3px;
  /* font-weight: bold; */
  font-size: clamp(1vmin, 2vmin, 12px);
}

.subTask {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  flex-direction: column-reverse;
}


.task-desc-priority {
  width: 100%;
}

.divLabelImg {
  display: flex;
  flex-direction: column;
  padding: var(--spaceDefault);
}

.divLabelImg > div {
  display: flex;
  align-items: end;
}

/* .divLabelImg > div > label {
  font-weight: bold;

} */