@import '../Root.css';

#cardReturn {
    width: 14vw;
    border-radius: 1vw;
    background-color: #FFF;
    padding: 1vw;
    position: relative;
}

#cardReturn ul {
    list-style: none;
}



.subdivcard {
    display: flex;
    width: 100%;
    justify-content: space-between;
}