/* @import '../Root.css'; */
.itemsForm{
    display: flex;
    flex-direction: column;
    padding: var(--spaceDefault);
    border:none;
}
.itemsFormRow{
    display: flex;
    flex-direction: row;
    padding: var(--spaceDefault);
    border:none;
}
.itemsFormRow:hover, .itemsFormRow:hover label{
    background-color: #f1f2f5;
    /* background-color: #Fff; */
    cursor: pointer;
}
.itemsFormRow input{
    margin-right: var(--spaceDefaultP);
}
.itemsFormRow > label{
    font-weight: normal;
}

.labelForm{
    color:var(--labelColor);
    font-size:var(--labelSize);
    font-weight: bold;
}

.labelFormP{
    display: flex;
    align-items: center;
    position: absolute;
    top:0px;
    z-index: 10;
    flex-direction: column;
    padding: var(--spaceDefaultPP);
    font-size: var(--textSize);
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--borderSize) solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.labelFormP > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.labelFormP > section{
    min-height: 100px;
    min-width: 200px;
}

.labelFormP:hover{
    cursor: pointer;
}

.inputForm{
    display: block;
    padding: var(--spaceDefault) var(--spaceDefaultP);
    font-size: var(--labelSize);
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--borderSize) solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;   
}

.borderDanger{
    border-color: var(--dangerColor);
}

.divLabelForm{
    display:flex;
    align-items: flex-end;
}