/* @import '../Root.css'; */
.itemsForm{
    display: flex;
    flex-direction: column;
    padding: var(--spaceDefault);
    border:none;
}
.itemsFormRow{
    display: flex;
    flex-direction: row;
    padding: var(--spaceDefault);
    border:none;
}
.itemsFormRow:hover, .itemsFormRow:hover label{
    background-color: #f1f2f5;
    cursor: pointer;
}
.itemsFormRow input{
    margin-right: var(--spaceDefaultP);
}


.labelForm{
    color:var(--labelColor);
    font-size:var(--labelSize);
    font-weight: bold;
    width: 100%;
}

.labelFormP{
    display: flex;
    align-items: center;
    position: absolute;
    top:0px;
    z-index: 10;
    flex-direction: column;
    padding: var(--spaceDefaultPP);
    font-size: var(--textSize);
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--borderSize) solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.labelFormP > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.labelFormP > section{
    min-height: 100px;
    min-width: 200px;
}

.labelFormP:hover{
    cursor: pointer;
}

.inputForm{
    display: block;
    padding: var(--spaceDefault) var(--spaceDefaultP);
    font-size: var(--labelSize);
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--borderSize) solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;   
}

.borderDanger{
    border-color: var(--dangerColor);
}

.divLabelForm{
    display:flex;
    align-items: flex-end;
}

/*ESTILO DA LISTA DE ITENS DA TAREFA*/
#taskBody > article > div > div:nth-child(4) > ul{
    width: 100%;
}
#taskBody > article > div > div:nth-child(4) > ul > li *:hover{
    cursor: pointer;
    background-color: #f1f2f5;

}
#taskBody input[type="checkbox"]{
    display: none;
}
#taskBody input[type="checkbox"]:checked + label:before {
    content: '\2713'; /* código unicode do checkmark */
    text-align: center;
    color: rgba(10, 149, 120);; /* cor do checkmark */
    visibility: visible;
    font-weight: bold;
}
#taskBody label{
    display: flex;
    align-items: center;
}
#taskBody label::before{
    display: flex;
    justify-content: center;
    width: var(--spaceDefault);
    font-size: var(--labelSize);
    margin: var(--spaceDefaultL);
    line-height: var(--spaceDefault);
}
/* Estilo do "!" quando o checkbox não estiver marcado */
#taskBody input[type="checkbox"] + label:before {
    font-weight: bold;
    content: '!'; /* "!" */
    color: #ed4d01; /* cor do "!" */
    visibility: hidden;
}
/* Exibir o "!" quando o checkbox não estiver marcado */
#taskBody input[type="checkbox"]:not(:checked) + label:before {
    visibility: visible;
}