@import '../Root.css';

.menu {
    position: absolute;
    z-index: 1;
    left: 16.5vw;
    top: 2vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 4vw;
    gap: 0.5vw;
}

.fatherMenu {
    background-color: #00000088;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    top: 0;
    left: 0;
}