@import '../Root.css';

.menu {
    position: absolute;
    gap: 0.2vw;
    background-color: transparent;
    right: 49%;
    top: 6%;
    width: 23vw;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    border-radius: var(--spaceDefault);
    padding: var(--spaceDefault);
}