

.menu {
    position: absolute;
    z-index: 1;
    left: calc(100% - var(--spaceDefault));
    top: 2vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5vw;
    background-color: #00000088;
    padding: var(--spaceDefault);
    border-radius: var(--spaceDefault);

    font-size: var(--textSize);
}

.menu button {
    font-size: calc(var(--textSize) - 2px);
}