/* @import '../Root.css'; */

.modal {
    width: clamp(10vw,calc(100vw - (2*var(--spaceDefault))),calc(400px - (2*var(--spaceDefault))));
    border-radius: 0.5vw;
    overflow: hidden;
    background-color: var(--dangerColor);
}

.modal-absolute {
    position: absolute;
    left: 0;   
    bottom: 0;
    margin:var(--spaceDefault);
}

.modal-content {
    padding: var(--spaceDefault);    
}

.modal-content h1 {
    font-size: var(--SecondaryTitleSize);
    color: var(--primaryColor);
    padding-bottom: 10px;
}

.modal-content p {
    font-size: var(--textSize);
    color: var(--primaryColor);
}
